<!DOCTYPE html>
<html>
<head></head>
<body>
<p>Lieber Bundesbruder {{ name }},</p>
<p>
heute wende ich mich mit einem großen Anliegen an Dich.<br>
Wie du weißt, bestreitet unsere K.Ö.St.V. Vindobona II ihre
regelmäßigen Kosten wie
</p>
<ul>
  <li>Miete</li>
  <li>Budenbetrieb</li>
  <li>Verbindungszeitschrift</li>
  <li>Projektarbeit</li>
  <li>u.v.m.</li>
</ul>
<p>
in erster Linie aus Mitgliedsbeiträgen ihrer Mitglieder.<br>
Jeder Alte Herr ist zu dieser monatlichen Zahlung von
<strong>{{ fee }} Euro</strong> verpflichtet.
</p>
<p>
Leider haben wir von dir seit Längerem keinen Eingang feststellen können.
</p>
<p>
Per <strong>{{ target }}</strong> beträgt Dein Rückstand an Beiträgen
<strong style="color: red;">{{ debt }} Euro.</strong>
</p>
<p>
Wir bitten Dich, den offenen Betrag an<br>
AH Kto. Vindobona 2<br>
IBAN: AT94 2011 1000 0530 1947<br>
BIC: GIBAATWWXXX<br>
zu überweisen.
</p>
<p>
Gleichzeitig laden wir Dich ein, gleich einen Dauerauftrag einzurichten,
so dass erst gar kein Rückstand aufgebaut werden kann.<br>
Solltest Du nicht den gesamten Betrag begleichen können oder wollen,
kannst du Dich gerne jederzeit vertraulich an mich wenden.
</p>
<p>
Vielen Dank im Voraus für Deinen Beitrag und herzliche bbr. Grüße,<br>
<br>
{{ sender_name }}, Philisterkassier
</p>
</body>
</html>
